<div class="card mb-4">
    <div class="card-body">
        <h5 class="card-title">Add New URL</h5>
        <form id="addUrlForm" class="row g-3 align-items-center">
            <div class="col-auto flex-grow-1">
                <input type="url" class="form-control" id="urlInput" placeholder="Enter URL to scrape" required>
            </div>
            <div class="col-auto">
                <button type="submit" class="btn btn-primary">Add URL</button>
            </div>
        </form>
    </div>
</div>