<div class="card mb-4">
    <div class="card-body">
        <h5 class="card-title">Add Channel Manually</h5>
        <form id="addChannelForm" class="row g-3">
            <div class="col-12 col-md-3">
                <input type="text" class="form-control" id="channelName" 
                       placeholder="Channel Name">
                <div class="invalid-feedback"></div>
            </div>
            <div class="col-12 col-md-5">
                <input type="text" class="form-control" id="channelId" 
                       placeholder="Channel ID">
                <div class="invalid-feedback"></div>
            </div>
            <div class="col-12 col-md-4">
                <button type="submit" class="btn btn-primary w-100">Add Channel</button>
            </div>
        </form>
    </div>
</div>