<div class="card">
    <div class="card-body">
        <div class="mb-4">
            <div class="d-flex justify-content-between align-items-center mb-2">
                <h5 class="card-title mb-0">Acestream Status</h5>
            </div>
            <div class="row">
                <div class="col-6 col-md-3">
                    <p class="mb-1" data-bs-toggle="tooltip" title="Total number of unique acestream channels in the system">Total Acestreams</p>
                    <h3 id="totalChannels">0</h3>
                </div>
                <div class="col-6 col-md-3">
                    <p class="mb-1" data-bs-toggle="tooltip" title="Number of acestreams that have been checked for availability">Status Checked</p>
                    <h3 id="channelsChecked">0</h3>
                </div>
                <div class="col-6 col-md-3">
                    <p class="mb-1" data-bs-toggle="tooltip" title="Number of acestreams currently available for streaming">Online</p>
                    <h3 id="channelsOnline" class="text-success">0</h3>
                </div>
                <div class="col-6 col-md-3">
                    <p class="mb-1" data-bs-toggle="tooltip" title="Number of acestreams currently unavailable">Offline</p>
                    <h3 id="channelsOffline" class="text-danger">0</h3>
                </div>
            </div>
        </div>
    </div>
</div>